[package]
authors = ["Sean Bowe <ewillbefull@gmail.com>, CPerezz <carlos@dusk.network>"]
description = "Fork of the implementation of the BLS12-381 pairing-friendly elliptic curve construction with some extra tooling needed by the Dusk team"
documentation = "https://github.com/dusk-network/bls12_381"
homepage = "https://github.com/dusk-network/bls12_381"
license = "MIT/Apache-2.0"
name = "dusk-bls12_381"
repository = "https://github.com/dusk-network/bls12_381"
version = "0.8.0"
keywords = ["cryptography", "bls12_381", "zk-snarks", "ecc", "elliptic-curve"]
categories =["Algorithms", "Cryptography", "Development tools"]
edition = "2021"
exclude = [".github/workflows/ci.yml",
".gitignore", 
]

[dependencies]
byteorder = {version = "1.0", default-features = false, optional = true}
rayon = {version = "1.3", optional = true}
serde = {version = "1.0", optional = true}
rand_core = {version = "0.6", default-features = false}
canonical = {version = "0.6", optional = true}
canonical_derive = {version = "0.6", optional = true}
dusk-bytes = "0.1"

[package.metadata.docs.rs]
rustdoc-args = [ "--html-in-header", "katex-header.html" ]

[dev-dependencies]
criterion = "0.2.11"
bincode = "1"

[[bench]]
name = "groups"
harness = false
required-features = ["groups"]

[dependencies.subtle]
version = "2.0"
default-features = false

[features]
default = ["std"]
std = [
    "alloc", 
    "parallel", 
    "groups", 
    "pairings", 
    "endo", 
    "byteorder", 
    "rand_core/std"
]
groups = []
parallel = ["rayon"]
pairings = ["groups"]
alloc = []
nightly = ["subtle/nightly"]
canon = ["canonical", "canonical_derive"]
serde_req = ["serde", "std"]
endo = []
